<% layout("/layouts/boilerplate") %>
<!-- Flash messages are rendered in the layout (boilerplate.ejs) -->
  <h3>All Listings</h3>

  <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1 g-3">

<% for(let listing of allListings) { %>
  <div class="col">
    <a href="/listings/<%= listing._id %>" class="listing-link">
      <div class="card h-100 listing-card">
        <img src="<%= listing.image.url %>" 
          class="card-img-top" 
          alt="listing_image">

        <div class="card-img-overlay">
          <!-- overlay content if needed -->
        </div>

        <div class="card-body">
          <p class="card-text mb-0">
            <b><%= listing.title %></b><br>
            $<%= listing.price ? listing.price.toLocaleString("en-IN") : "N/A" %>/night<br>         
            <%= listing.location %><br>
            <%= listing.country %><br>
          </p>
        </div>
      </div>
    </a>
  </div>
<% } %>
  </div>
 

  
 