<% layout("/layouts/boilerplate") %>

    <div class="row">
        <div class="col-8 offset-2 md-3 mt-4">
            <h3>Listings Details</h3>

        </div><br><br><br><br>
        <div class="card col-6 offset-3 show-card">

            <img src="<%= (listing.image && listing.image.url) ? listing.image.url : '/css/placeholder.png' %>" class="card-img-top show-img " alt="listing_image">
            <div class="card-body">
                <p class="card-text offset-1">
                    <b><%= listing.title %></b><br>
                    <%= listing.description %><br>
                        $<%= (typeof listing.price === 'number' ? listing.price.toLocaleString("en-IN") : 'N/A') %><br>
                            <%= listing.location %><br>
                                <%= listing.country %><br>
                </p>
            </div>
        </div>
        <br>

    </div>
<div class="btns">
    <a href="/listings/<%= listing._id%>/edit" class="btn btn-dark col-1 offset-3 edit-btn">Edit</a>



    <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
        <button class="btn btn-dark offset-5">Delete</button>
    </form>
</div>

</div>
<br><br>